*{
  font-family: Consolas, monaco, monospace;
  font-size: 20px;
}
#content:focus{
  border: 1px solid black;
}
#content{
  border:1px solid black;
  min-height: 400px;
  overflow-y: scroll;  
  cursor: default;
}
#post{
position: relative;
float: right;
right: 10px;
}
#div{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

.textarea{
  height: 100px;
  width: 100%;
}
.text{
  position: absolute;
  left: 150px;
}
.postdiv{
  padding-left: 90%;
}

.marker{
  background-color: yellow;
}
