<link rel = "icon" href="{{url_for('static',filename = 'img/cp.png')}}" type = "image/x-icon">

{% extends "baseadmin.html" %}
{% block body %}
<script src="{{url_for('static',filename = 'js/script.js')}}"></script>
  <!-- Page Header -->

    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{tittle}}</h1>
            <span class="subheading">Welcome {{user}}</span>
          </div>
        </div>
      </div>
    </div>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	 <table class = "table">
	 <thead>
	 <tr>
	    <th><h3>Name</h3></th>
	    <th><h3>Slug</h3></th>
      <th><h3>Date</h3></th>
      <th><h3>&#128077;</h3></th>
      <th><h3>&#128078;</h3></th>
      <th><h3>&#128172;</h3></th>
	    <th><h3>Edit</h3></th>
	    <th><h3>Delete</h3></th>
	  </tr>
	  </thead>

        {% for post in posts %}
        {%set s = post['slug']%}
        <tr id = '{{post["slug"]}}'>
          <td>{{post["tittle"][:7]}}...</td>
          <td>{{post["slug"][:7]}}...</td>
          <td>{{post['date']}}</td>
          <td>1</td>
          <td>1</td>
          <td><a href="/readcomments/{{post['slug']}}">1</a></td>
          
          <td><a href = "/edit/{{post['slug']}}"><button  class = "btn btn-primary" >Edit</button></td>
          <td><button class = "btn btn-primary" onclick="deletePost('{{post['slug']}}');">Delete</button></td>

        </tr>
        


                  {% endfor %}
              </table>     
            </div>
        <!-- Pager -->

      </div>
  </div>

  

</body>
</html>

{% endblock %}
