<link rel = "icon" href="{{url_for('static',filename = 'img/cp.png')}}" type = "image/x-icon">

{% extends "base.html" %}
{% block body %}
<script src="{{url_for('static',filename = 'js/script.js')}}"></script>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	 <table class = "table">
	 <thead>
	 <tr>
	    <th><h3>Name</h3></th>
	    <th><h3>Slug</h3></th>
	    <th><h3>Date</h3></th>
	    <th><h3>Edit</h3></th>
	    <th><h3>Delete</h3></th>
	  </tr>
	  </thead>

        {% for post in posts %}
        {%set s = post['slug']%}
        <tr id = '{{post["slug"]}}'>
        	<td>{{post["tittle"]}}</td>
        	<td>{{post["slug"]}}</td>
        	<td>{{post['date']}}</td>
        	<td><a href = "/edit/{{post['slug']}}"><button  class = "btn btn-primary" >Edit</button></td>
          <td><button   class = "btn btn-primary" onclick=deletePost((`{{post["slug"]}}`))>Delete</button></td>

        </tr>
        


                  {% endfor %}
              </table>     
            </div>
        <!-- Pager -->

      </div>
  </div>

  <hr>

</body>
</html>

{% endblock %}
