<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}" />
	<script src="{{url_for('static',filename = 'js/script.js')}}"></script>
	<title>{{post['tittle']}}</title>
</head>
<body>
<div id = 'div'>
<form action="">
	<label for="tittle">Tittle</label>
	
	<input type="text" name="tittle" value = "{{post['tittle']}}" id="tittle">
	
	<label for="tagline">Tagline</label>
	
	<input type="text" name="tagline"  value = "{{post['tagline']}}" id="tagline">
	<br>
	<br>
	<label for="content">Content</label>
	<div name = 'content' id  = 'content' contenteditable="true">{{post['content']}}</div>

</form>	
</div>
<br>
<button id = 'post' onclick="post(`{{post['slug']}}`)">Post</button>
</body>
</html>








