<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}" />
	<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

    <title>New Post</title>
</head>
<body>
<script src="{{url_for('static',filename = 'js/script.js')}}"></script>

	<div id = 'newpost'>
		<form action="/newpost" method="POST" enctype = "multipart/form-data">
			<label for="tittle" class = "label">Tittle</label>
			<div class="text">	
			<input type="text"  name="tittle" id="tittle">
			</div>
			<label for="slug"class = "label">Slug</label>
			<div class="text">
			<input type="slug" name="slug" id="slug">
			</div>
			<br>
			<label for="tagline"class = "label">Tagline</label>
			<div class="text">
			<input type="text" name="tagline" id="tagline">
			</div>
			<label for="file"class = "label">Select image</label>
			<div class="text">
			<input type="file" id  = 'image' name = 'image' class = 'fileInput'>
			</div>
			
			<label for="content" class = 'label' style = "display: block!important;text-align: left!important;">Content</label>
			
			<textarea name="content" id="content" class = 'textarea'></textarea>
			<script>CKEDITOR.replace("content");</script>
			<div class = "postdiv">
			<button type="submit"  class="postbtn">Post</button>
			</div>

		</form>	
</div>

<br>
</body>
</html>
