<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static',filename = 'js/script.js')}}"></script>
    <title>Pouch</title>
</head>
<style>
    .edit{
        position: absolute;
        left:180px;
    }

.about{
    height: 100px;
    width: 425px;
}
#about{
    min-height: 400px;
    overflow-y: scroll;  
    cursor: default;
}
</style>
<body>
    <label for="name">Name</label>
    <input type="text" class = "edit" value = "{{data['name']}}" name="name" id="name">
    <label for="about"><h4>About</h4></label>
    <br>
    <textarea name="about" id="about" class = "about"cols="30" rows="10"></textarea>
    
    <h4>Change Password</h4>
    <br>
    <label for="Cpassword">Current Password</label>
    <input class="edit" type="password" name="Cpassword" id="Cpassword">
    <br>
    <br>
    <label for="pass">New Password</label>
    <input type="password" class="edit" name = "pass" id = "pass">
    <br>
    <br>
    <label for="rpass">Repeat Password</label>
    <input type="password" class="edit" name = "rpass" id = "rpass">
    <br>
    <br>
    <button class="edit" onclick="changePassword()">Change Password</button>
    <br>
    <br>
    <button type = "submit" action = "/pouch" method = 'POST' >Save and apply</button>
    
</body>
</html>