
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{url_for('static',filename = 'js/script.js')}}"></script>
    <title>Setting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static',filename = 'js/script.js')}}"></script>
</head>
<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <form action="/setting" method="GET"></form>
          <input  id="first_name" type="text"  value = "{{data['name']}}"class="validate">
          <label for="first_name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="textarea1" class="materialize-textarea">{{data['about']}}</textarea>
          <label for="textarea1">About</label>
          <input type="submit" value="Submit">
        </form>
        </div>
      </div>
      <div class="card light-green lighten-5">
        <div class="card-content light-green lighten-5">
          <div class="row">
            <div class="input-field col s5">
              <input  id="Cpassword" type="password" class="validate">
              <label for="Cpassword">Current password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5">
              <input  id="pass" type="password" class="validate">
              <label for="pass">New password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5">
              <input  id="rpass" type="password" class="validate">
              <label for="rpass">Repeat password</label>
            </div>
          </div>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn" onclick="changePassword()">Change password</a>
        </div>
      </div>

    </form>
  </div>

</div>


</html>
