{% extends "base.html" %}
{% block body %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static',filename = 'img/sup.png')}}">

    <title>{{tittle}}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <!-- Do something with the message -->
              <script>alert('{{message}}')</script>

          {% endfor %}
      {% endif %}
  {% endwith %}

  <body class="text-center">
    <form class="form-signin" action="/signup" method="post">
      <img class="mb-4" src="{{url_for('static',filename = 'img/sup.png')}}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">SignUp</h1>
      
      <label for="name" class="sr-only">Name</label>
      <input type="text" id="name" class="form-control" name = "name" placeholder="Name" required autofocus>
      
      <label for="user" class="sr-only">Username</label>
      <input type="text" id="user" class="form-control" name = "uname" placeholder="User Name" autofocus>
      
      <label for="email" class="sr-only">Email address</label>
      <input type="email" id="email" class="form-control" name = "email" placeholder="Email address" required>

      <textarea name="about" class = "form-control" id="about" cols="30" rows="5" placeholder="About"></textarea>
      
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" class="form-control" name = "pass" placeholder="Password" required is="#password">

      <button class="btn btn-lg btn-primary btn-block" type="submit">SignUp</button>
      <br>
      <h6>Already have an account ?   <a href="/cplogin">Sign In</a></h6>
    </form>
  </body>
</html>

